@page "/inventaire/procedure"
<h3>Saisie Inventaire Procedure</h3>
<h4>Dans Superviseur Louxor, taper les requetes SQL ci-dessous<br />Attention: changer les dates par celles adequates</h4>
<Divider />
<ul>

    <li>
        <Paragraph>
            Mise a jour de la sous-famille en PF (Produit fini) pour tous les articles Vendus
        </Paragraph>
        <ul>
            <li>
                <Paragraph>
                    Reset
                </Paragraph>
                <Code @ref="Code1" CopyToClipboard="true">update pparti set codsfa='' where sigsoc='001'</Code>
                <br />
                <Button Clicked="(args)=>CopyToClipboard(Code1 )" Color="Color.Info">
                    Copy To Clipboard
                </Button>
                <Divider />

            </li>
            <li>

                <Paragraph>
                    <Code @ref="Code2" CopyToClipboard="true">update pparti set codsfa='PF' where sigsoc='001' and gessto='O' and coddom='V' and codfam='01' and codsfa='' and codart in (select distinct codart from cmlign where sigsoc='001')</Code>
                    <br />
                    <Button Clicked="(args)=>CopyToClipboard(Code2 )" Color="Color.Info">
                        Copy To Clipboard
                    </Button>
                </Paragraph>
            </li>
        </ul>
        <Divider />
    </li>
    <li>
        <Paragraph>
            Mise à jour de tous les produits vendu
        </Paragraph>

        <ul>
            <li>
                <Paragraph>
                    Reset
                </Paragraph>
                <Code @ref="Code3" CopyToClipboard="true">update pparti set class3='' where sigsoc='001'</Code>
                <br />
                <Button Clicked="(args)=>CopyToClipboard(Code3 )" Color="Color.Info">
                    Copy To Clipboard
                </Button>
                <Divider />
            </li>
            <li>
                <Paragraph>
                    Mise a jour du champs analytique 3
                </Paragraph>
                <Code @ref="Code4" CopyToClipboard="true">
                    update a set a.class3='VEN' from pparti a where a.sigsoc='001' and a.codart in (select distinct m.codart from cmlign m where m.sigsoc='001' and m.credat>={01/01/2021})
                </Code>
                <br />
                <Button Clicked="(args)=>CopyToClipboard(Code4 )" Color="Color.Info">
                    Copy To Clipboard
                </Button>
            </li>

        </ul>
        <Divider />
    </li>
    <li>
        <Paragraph>
            MISE A JOUR Lot Appro en fonction de la commande
        </Paragraph>
        <Code @ref="Code5" CopyToClipboard="true">update a set  a.lotapp=(select d.quanti from cmlign d where d.sigsoc='001' and d.codart=a.codart and d.numdoc in (select min(c.numdoc) as numdoc from cmlign c where c.sigsoc='001' and c.codart=d.codart and c.credat>={01/01/2021})  ) from pparti a where a.sigsoc='001' and a.coddom='V' and a.codfam='01' and a.codsfa='PF' and a.class3='VEN'</Code>
        <br />
        <Button Clicked="(args)=>CopyToClipboard(Code5 )" Color="Color.Info">
            Copy To Clipboard
        </Button>
        <Divider />
    </li>
    <li>
        <Paragraph>
            Dans une fiche Article de Louxor, lancer le calcul de mise à jour des couts suivant le modele ci-dessous
        </Paragraph>
        <Figure Size="FigureSize.Is512x512">
            <FigureImage Source="images/calculcout.jpg" AlternateText="empty-256x256" Rounded />
            <FigureCaption>Exemple a suivre pour le calcul des couts.</FigureCaption>
        </Figure>
    </li>
    <li>
        <Paragraph>
            Allez dans le menu Api
            Supprimer les fichiers des commandes, Ofs, Articles
            Copier/Remplacer  les fichiers (.dbf, .cdx, .fpt) suivant dans le dossier wwwroot/database
            <ul>
                <li>CMLIGN</li>
                <li>PPARTI</li>
                <li>PPCHAR</li>
                <li>PTFOUR</li>
            </ul>
            Inserer les fichiers avec le module Api
        </Paragraph>
    </li>
</ul>
@code {

    Code? Code1;
    Code? Code2;
    Code? Code3;
    Code? Code4;
    Code? Code5;
    async Task CopyToClipboard(Code elt)
    {
        if (elt is not null)
            await elt.JSUtilitiesModule.CopyToClipboard(elt.ElementRef, elt.ElementId);
    }
}
